*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/**************************************************************************/
body{
    background-image: url(./img/wallpaper-terra.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
header{
    width: 100%;
    height: 20vh;
    background-color: rgb(156, 156, 156);
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 40%;
    display: flex;
    align-items: center;
}
.logo-img{
    width: 274px;
    height: 180px;
    margin-left: -30px;
}
.logo-txt{
    font-size: 64px;
    margin-left: -42px;
    font-family: 'Jockey One', sans-serif;
}

.links{
    justify-self: end;
    justify-content: space-evenly;
    align-items: end;
    width: 40vh;
    display: flex;
    margin-bottom: 18px;
    margin-right: -18px;
}
.home{
    width: 60px;
}
.refs{
    width: 60px;
}
/******************************************************************************/
.container{
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 30vw;
    height: 46vh;
    background-color: rgb(30, 30, 30, 80%);
    margin-top: 10vh;
}
.pic-dia{
    margin-top: 28px;
    margin-left: 54px;
    width: 360px;
    height: 270px;
    cursor: pointer;
}
.pic-mar{
    margin-top: 28px;
    margin-left: 54px;
    width: 360px;
    height: 270px;
    cursor: pointer;
}
.pic-lua{
    margin-top: 28px;
    margin-left: 54px;
    width: 360px;
    height: 270px;
    cursor: pointer;
}
p{
  color: rgb(255, 255, 255);
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 26px;
  margin-top: 5px;
}
/****************************************************************************/
.container-refs{
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin-left: 9vw;
}
.txt-refs{
    background-color: rgb(255, 255, 255, 80%);
    text-align: center;
    align-self: center;
    height: 70px;
    width: 500px;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    margin: 20px;
}
h2{
    margin-top: 10px;
}
.img-refs{
    justify-content: space-between;
    display: flex;
}
.c-refs{
    width: 320px;
    margin-top: 38px;
}
/*******************************************************************/